<div class="card">
    <div class="card-content">
        @for (exp of monthlyExpenses(); track exp.id){

            @if(exp.id == editingId){
                <form [formGroup]="fg" (ngSubmit)="onEdit()" class="edit-form">
                    <input formControlName="category">
                    <input formControlName="amount">
                    <button mat-raised-button type="submit">Submit</button>
                </form>
            }
            @else {
                <div class="card-entry-wrapper">
                    <div class="card-label">
                        <button mat-icon-button (click)="onDelete(exp)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button (click)="setAsEditing(exp)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <span class="label">{{exp.category}}:</span>
                    </div>
                    <div class="card-entry">
                        <span class="value">${{exp.amount}}</span>
                    </div>
                   
                </div>
            }
        }
    </div>
   
    <button mat-raised-button [matMenuTriggerFor]="menu" (menuClosed)="onMenuClosed()">Add New</button>
        <mat-menu #menu="matMenu">
            <form [formGroup]="fg" (ngSubmit)="onAddNew()" (click)="$event.stopPropagation()" class="menu-form">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <input 
                        matInput 
                        type="text"
                        formControlName="category">
                </mat-form-field>
                
    
                <mat-form-field>
                    <mat-label>Amount</mat-label>
                    <input 
                        matInput 
                        type="number"
                        formControlName="amount"
                        pattern="\d+">
                </mat-form-field>
                
                <button mat-raised-button type="submit">Submit</button>
            </form>
            
        </mat-menu>
</div>

