* {
    box-sizing: border-box;
    font-size: 18px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    min-width: 450px;
    border: ridge lightgray 1px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.card-entry {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    .label {
        margin-right: 10px
    }
}